* { box-sizing: border-box; }

body{
	height: 100vh;
	display: grid;
	grid-template-rows: 10vh auto 10vh;

}
header{
	background-color: #F1F1F1;
	grid-row: 1/2;
	display: flex;
	align-items: center;
	justify-content: center;
}
main{

	grid-row: 2/3;
}
footer{
	background-color: #F1F1F1;
	grid-row: 3/4;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer p{
	margin: 0;
	padding: 0;
}
#tName:focus{
	box-shadow: 0 0 0 0;
	border: 1px solid #CCC;
	outline: 0;
}
.input-error{
	border: 1px solid #FF0000;
}
.error-input{
	font-size: 12px;
	color:  #FF0000;
}
#edit-btn{
	background-color: #2196F3;
	border: none;
}

